<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: 'Silk Road Rug Co'}) %>
    <link rel="stylesheet" href="/styles/home.css">
</head>

<body>
    <!-- Nav Bar -->
    <nav class="navbar">

        <a href="/">Home</a>
        <a href="/about">About</a>

    </nav>

    <!-- Header -->
    <header id="home" class="header">

        <h1>Silk Road Rug Co</h1>
        <a href="/rugs" class="inventory-btn">Inventory</a>

    </header>

    <!-- Featured Rugs Section -->
    <section id="about" class="content bg-white py-5">

        <div class="container">            

            <br><br><br><br><br><br><br><br><br><br><br>

            <h2>Featured</h2>

            <br><br><br><br><br><br>

            <div class="row">
                <% for (let rug of rugs) { %>
                <div class="col-md-4 mb-4">

                    <figure class="featured-rug">
                        <img src="<%= rug.photo %>" alt="rug" class="img-fluid">
                        <div class="details">
                            <h3><%= rug.name %></h3>
                            <a href="/rugs/<%= rug._id %>" class="btn">Details</a>
                        </div>
                    </figure>

            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                
                    </div>
                <% } %>
            </div>

        </div>

    </section>

    <%- include('./partials/footer.ejs') %>

</body>

</html>