<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: `${rug.name} | Silk Road Rug Co`}) %>
    <link rel="stylesheet" href="/styles/rug-details.css">
</head>

<body>
    <%- include('./partials/nav.ejs') %>

    <div class="content-container">

        <h2 class="rug-name"><%= rug.name %></h2>

        <div class="container mt-1">
            <div class="row">

                <figure class="featured-rug">
                    <img src="<%= rug.photo %>" alt="rug" class="img-fluid">
                </figure>

                    <section class="mt-4 product-info"> 
                        <p><strong>Name:</strong> <%= rug.name %></p>
                        <p><strong>Location:</strong> <%= rug.location %></p>
                        <p><strong>Description:</strong> <%= rug.description %></p>
                        <p><strong>Price:</strong> <%= rug.price %></p>
                        <p><strong>Quantity:</strong> <%= rug.quantity === 0 ? "Out of Stock" : rug.quantity %></p>
                        <br><br><br>
                    </section>
                    
            </div>
        </div> 

        <div class="button-row">
            <button class="btn"><a href="/rugs/<%= rug._id %>/edit">Edit</a></button>
            <form method="POST" action="/rugs/<%= rug._id %>?_method=DELETE">
                <input class="btn" type="submit" value="Delete" />
            </form>
            <form method="POST" action="/rugs/<%= rug._id %>?_method=PUT">
                <input class="btn" type="submit" value="Purchase" />
            </form>
            <button class="btn"><a href="/reviews/new/<%= rug._id %>">Review</a></button>
        </div>

    </div>

    <%- include('./partials/footer.ejs') %>
    
</body>

</html>
