<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: 'Current Inventory | Silk Road Rug Co'}) %>
    <link rel="stylesheet" href="/styles/rug-index.css">
</head>

<body>
    <%- include('./partials/nav.ejs') %>

    <section class="hero">
        <h2>Available Rugs</h2>
    </section>

    <main>
        <section class="listings">
            <ul>
                <% for (let rug of rugs) { %>
                <li>
                    <figure>
                        <img src="<%= rug.photo %>">
                        <figcaption>
                            <h4><%= rug.name %></h4>
                            <p><%= rug.location %>, <%= rug.type %></p>
                            <a href="/rugs/<%= rug._id %>">Learn More</a>
                        </figcaption>
                    </figure>
                </li>
                <% } %>
            </ul>
        </section>
    </main>

    <%- include('./partials/footer.ejs') %>
</body>

</html>