<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: 'Current Inventory | Silk Road Rug Co'}) %>
    <link rel="stylesheet" href="/styles/rug-index.css">
</head>

<body>
    <%- include('./partials/nav.ejs') %>

    <section class="hero">
        <h2>Available Rugs</h2>
    </section>

    <br><br><br><br>

    <div class="content-container">
        <main>
            <div class="row">
                <% for (let rug of rugs) { %>
                <div class="col-md-4 mb-4">
    
                    <figure class="featured-rug">
                        <img src="<%= rug.photo %>" alt="rug" class="img-fluid">
                        <div class="details">
                            <h3><%= rug.name %></h3>
                            <a href="/rugs/<%= rug._id %>" class="btn">Details</a>
                        </div>
                    </figure>            
                </div>
                <% } %>
            </div>
        </main>
    </div>        

        <br><br><br>
        
    </main>

    <%- include('./partials/footer.ejs') %>
</body>

</html>