<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs', {title: 'Write a Review | Silk Road Rug Co'}) %>
    <link rel="stylesheet" href="/styles/rug-form.css">
</head>

<body>
    <%- include('../partials/nav.ejs') %>

    <section class="hero">
        <h2>Write us a review!</h2>
        <h4><i>You're writing a review for <a href="/rugs/<%= rug._id %>"><%= rug.name %></a></i></h4>
    </section>
    <br><br>
    <form action="/reviews/create/<%= rug._id %>" method="POST">
        <label for="reviewer">Reviewer Name:</label><br>
        <input type="text" id="reviewer" name="reviewer" required><br>

        <label for="title">Title:</label><br>
        <input type="text" id="title" name="title" required><br>

        <label for="content">Content:</label><br>
        <input type="text" id="content" name="content" required><br>

        <input type="submit" value="Submit">
    </form>

    <%- include('../partials/footer.ejs') %>
    
</body>

</html>
