<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs', {title: 'Reviews | Silk Road Rug Co'}) %>
    <link rel="stylesheet" href="/styles/review-details.css">
</head>

<body>
    <%- include('../partials/nav.ejs') %>
    <br><br><br>
    <section class="application">
        <h1>Name: <%= review.reviewer %></h1>
        <table>
            <tr>
                <th>
                    <h2>Title:</h2>
                </th>
                <td>
                    <h2><%= review.title %></h2>
                </td>
            </tr>
            <tr>
                <th>
                    <h2>Content:</h2>
                </th>
                <td>
                    <h2><%= review.content %></h2>
                </td>
            </tr>
            <tr>
                <th>
                    <h2>Date submitted:</h2>
                </th>
                <td>
                    <h2><%= review.reviewDate.toLocaleDateString() %></h2>
                </td>
            </tr>
        </table>

        <form method="POST" action="/reviews/<%= review._id %>?_method=DELETE">
            <input class="btn" type="submit" value="Delete" />
        </form>

    </section>
    <br><br><br>
    <%- include('../partials/footer.ejs') %>
</body>

</html>
